.vscode/
TODO.md
base/
build/
main
.o
test_results/
config/
correctness_test_result/
*.sql

cscope*
table.info

*.gdb

libscan.so
test_duckdb_conversion
perf.data

test_blockgroup_performance
test_conversion_performance
test_correctness
test_visibility

compile_commands.json
.cache